@use 'sass:color';

/* 1.1 Theme Reset Style */
html {
  font-size: $base-font-size + px;
}

:root {
  scroll-behavior: unset;
}

body {
  font-family: $base-font;
  color: $body-color;
  background-color: $body-bg-color;
  font-size: 18px;
  overflow-x: hidden;

  @include media-query(767px) {
    font-size: 14px;
  }
}

p {
  font-size: 18px;
  color: $body-color;
  line-height: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-family: $heading-font;
  font-weight: 500;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;

  @include transition-time(0.2s);
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
}

.sr-only {
  display: none !important;
  opacity: 0;
  visibility: hidden;
}
