@import '../../sass/helpers/mixins';

#wawbutton {
  @include gradient-bg();

  @include border-radius('xs');

  @include body-font($dark-blue);

  border: none;
  border-radius: $spacing-xs;
  padding: $spacing-sm;
  width: 200px;
  height: 50px;
  cursor: pointer;

  &:hover {
    @include gradient-bg(171deg, #fff5d8, #ffd554, #ffd34e);
  }
}
