/* ---------------------------
	Fonts
---------------------------- */
$base-font-size: 16;
$base-font: 'Poppins', sans-serif;
$heading-font: 'Lilita One', sans-serif;
$letter-spacing: 0.1rem;
$text-shadow: 2px 1px black;
$font-size-large: 24px;
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

/* ---------------------------
Colors
---------------------------- */
$dark-gray: #1a1729;
$dark-blue: #000535;
$body-color: #625f71;
$white: #fff;
$light: #ffebeb;
$black: #000;
$small-black: #333;
$gray: #848892;

$theme-primary-button: #ffd967;
$body-bg-color: #fff;
$body-bg-light-color: #b6f0f6;
$overlay: #45454587;
$error-bg-color: #cd5c5c;
$error-text-color: $white;

$border-gray: 1px solid $gray;

$button-height: 50px;
$button-width-lg: 200px;

/* ---------------------------
	Spacing
---------------------------- */
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-sm: 16px;
$spacing-md: 24px;
$spacing-lg: 32px;
$spacing-xl: 40px;
$spacing-xxl: 64px;
