/* ---------------------------
	Fonts
---------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700;800;900&display=swap');

// fonts
$base-font-size: 15;
$base-font: 'Urbanist';
$heading-font: 'Urbanist';

// color
$dark-gray: #1a1729;
$body-color: #625f71;
$white: #fff;
$light: #ffebeb;
$black: #000;
$small-black: #333;
$cyan: #848892;

$theme-primary-color: #4540e1;
$theme-primary-color-s2: #f2bc00;
$theme-primary-color-s3: #15a280;
$theme-primary-color-s4: #0467fd;
$theme-primary-color-s5: #f9406c;
$theme-primary-color-s6: #ff4c27;
$body-bg-color: #fff;
$section-bg-color: #fcf9ef;
$section-bg-color-s2: #f8f2f2;
$text-color: #625f71;
$text-light-color: #bfc4dc;
$text-light-color-s2: #989aa5;
$heading-color: $dark-gray;
$border-color: #d9d9d9;
$border-color-s2: #ddd;
