@import '../../sass/helpers/mixins';

@import '../../sass/helpers/variables';

input.text-input {
  @include border-radius('xs');

  width: 400px;
  height: 36px;
  padding: $spacing-sm;
  border: $border-gray;
  border-radius: 8px;
  font-size: 14px;

  @media screen and (width <= 600px) {
    width: 100%;
  }
}
